    <link rel="stylesheet" type="text/css" href="/art/css/site.css" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/zealic" />
    <script type="text/javascript" src="/scripts/require.js"></script>
    <script type="text/javascript" src="/scripts/startup.js"></script>
    <script type="text/javascript">
      Initialize();
      require(["jquery"], function() {
        $(function() {
          Startup("{{ username }}");
        })
      });
    </script>