---
layout: default
body: full-width page
---
<div id="content">
  <div class="post">
    <h1 class="post-title">{{ page.year }}</h1>
    <p class="lead">Posts from the year {{ page.year }}</p>
      <ul>
    {% for m in (1..12) reversed %}
      {% if page.collated_posts[page.year][m] %}
        <li>
          <h3><a href="/{{ page.year }}/{{ m | normalize_month }}/">{{page.year}}.{{ m | normalize_month }}</a></h3>
        </li>
        <ul>
        {% for d in (1..31) reversed %}
          {% if page.collated_posts[page.year][m][d] %}
            {% for p in page.collated_posts[page.year][m][d] reversed %}
            <li>
              <strong>{{ p.date | date: "%d" }}</strong> : <a href='{{ p.url }}'>{{ p.title }}</a>
            </li>
            {% endfor %}
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
      </ul>
    {% endfor %}
  </div>
</div><!-- end: #content-->