{% include config.liquid %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>{% if page.title %}{{ page.title | append: ' - ' }}{% endif %}{{ site.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% include header.html %}
  </head>

  <body>
    <div id="header">
      <h1 class="site-name title"><a href="/">{{ site.title }}</a></h1>
    </div>

    <table id="content">
      <tr>
        <td id="main">
          {{ content }}
        </td>
        <td id="sidebar-right">
          {% include sidebar.html %}
        </td>
      </tr>
    </table>
    {% include footer.html %}
  </body>
</html>


