{% include config.liquid %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title | append: ' - ' }}{% endif %}{{ site.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% include header.html %}
  </head>

  <body>
    <header id="header">
      <hgroup>
        <h1>
          <a href="/">{{ site.title }}</a>
        </h1>
        <h2>{{ username | capitalize}}'s Blog</h2>
      </hgroup>
    </header>

    <table id="content">
      <tr>
        <td id="main">
          {{ content }}
        </td>
        <td id="sidebar-right">
          {% include sidebar.html %}
        </td>
      </tr>
    </table>
    {% include footer.html %}
  </body>
</html>


